body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}

#main-content {
    width: 53%;
    max-width: 1000px;
    padding: 50px 0;
    line-height: 1.6;
    color: #000;
}

.deklarasi {
    font-weight: bold;
    margin-bottom: 25px;
    text-align: left;
}

.judul-ungu {
    color: #cc00ff;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.text-justify {
    text-align: justify;
}

.para-1::first-line { background-color: #ff00ff; color: #000; font-weight: bold;}
.para-2::first-line { background-color: #ff0000; color: #000; font-weight: bold;}
.para-3::first-line { background-color: #00ff00; color: #000;}
.para-4::first-line { background-color: #3366ff; color: #fff; font-weight: bold;}

.pancasila-list {
    text-align: left;
    margin-top: 30px;
}

.pancasila-list ol {
    list-style-position: outside;
    padding-left: 1.5em;
    margin: 0;
}

.pancasila-list li {
    margin-bottom: 5px;
}